*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: #181818;
    color: white;
    height: 94px;
}
a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    
}
.Mozzabar-icon{
    width: 145px;
    height: 85px;
    margin: 2px;
    margin-left: 163px;
    

}
ul{
    list-style-type: none;
    float: right;
    margin-top: 38px;
}
h1{
    color: #956630;
    margin-left: 38px;
}
ul,li{
    display: inline-block;
}

main{
    background-image: url(/images/mozzabar-img.png);
    background-size: cover;
    color: white;
    max-width: 100vw; 
    min-height: 86vh;
    
}

hr{
    width: 40%;
    align-items: end;
}
img{
   
    display: grid;
    justify-items: center;
    align-items: center;
}